<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.digitallibrary.reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".Gdl"
        android:allowBackup="true"
        android:contentDescription="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/GdlTheme">

        <!-- Main entry point for the application. -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:contentDescription="@string/app_name"
            android:label="@string/app_short_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main application parts -->
        <activity
            android:name=".GdlActivity"
            android:configChanges="orientation|screenSize"
            android:contentDescription="@string/selections_title"
            android:label="@string/selections_title"
            android:theme="@style/GdlTheme" />

        <activity
            android:name=".HandleIntentsActivity"
            android:contentDescription="@string/app_name"
            android:label="@string/app_short_name"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="content"
                    android:host="com.android.providers.downloads.documents"
                    android:mimeType="application/x-gdl-book" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SelectLanguageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Settings" />

        <activity
            android:name=".reader.ReaderActivity"
            android:configChanges="orientation|screenSize"
            android:contentDescription="@string/reader"
            android:label="@string/reader"
            android:theme="@style/GdlTheme" />
        <activity
            android:name=".reader.ReaderSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:contentDescription="@string/reader_accessibility_settings"
            android:label="@string/reader_accessibility_settings"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".reader.ReaderTOCActivity"
            android:configChanges="orientation|screenSize"
            android:contentDescription="@string/reader_toc"
            android:label="@string/reader_toc"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name=".catalog.CatalogActivity"
            android:configChanges="orientation|screenSize"
            android:contentDescription="@string/selections_title"
            android:label="@string/selections_title"
            android:theme="@style/GdlTheme" />
        <activity
            android:name=".catalog.BookDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:contentDescription="@string/selections_title"
            android:label="@string/selections_title"
            android:theme="@style/GdlTheme" />

        <receiver
            android:name=".DownloadBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.VIEW_DOWNLOADS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
